<!DOCTYPE html>
<html>
    <head>
            {% load bootstrap4%}
    
            {%  bootstrap_css %}
        <body>
        <table align="center">
            <th><h1> Login </h1></th>
            
            <tr>
                <td>
                        <form>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-success">Submit</button>  
                                <a class="btn btn-primary" href="http://127.0.0.1:8000/admin/login/?next=/admin" role="button">Admin</a>                                                              
                        </form>
                </td>
            </tr>         
        </table>
        {% bootstrap_javascript jquery='full' %}
        </body>
    </head>
</html>