<html>
<head>
        {% load bootstrap4%}
    
        {%  bootstrap_css %}
</head>
<body>
<h1 align="center">CUESTIONARIO BURNOUT </h1>
<h2 align="center">Señale el número que crea oportuno sobre la frecuencia con que siente los enunciados </h2>

<p align="center"> 
0 = NUNCA 
1 = POCAS VECES AL AÑO 
2 = UNA VEZ AL MES O MENOS
3 = UNAS POCAS VECES AL MES 
4 = UNA VEZ A LA SEMANA 
5 = UNAS POCAS VECES A LA SEMANA 
6 = TODOS LOS DÍAS 
</p>


<table align="center">

	<tr>

    <th scope="col">Item</td>

    <th scope="col"> Descripción </td>

    <th scope="col"> Valoración </td>

  </tr>
  <tr>

    <td>1</td>

    <td>Me siento emocionalmente agotado/a por mi trabajo </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
         </td>

  </tr>

  <tr>

    <td> 2</td>

    <td>Me siento cansado al final de la jornada de trabajo</td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  <tr>

    <td> 3</td>

    <td>Cuando me levanto por la mañana y me enfrento a otra jornada de trabajo me siento
fatigado </td>

    <td> <select class="custom-select">
        <option selected>Select value</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </td>

  </tr>
  
  <tr>

    <td> 4</td>

    <td>Tengo facilidad para comprender como se sienten mis alumnos/as. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
   <tr>

    <td> 5</td>

    <td>Creo que estoy tratando a algunos alumnos/as como si fueran objetos impersonales. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 6</td>

    <td> Siento que trabajar todo el día con alumnos/as supone un gran esfuerzo y me cansa. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 7</td>

    <td> Creo que trato con mucha eficacia los problemas de mis alumnos/as </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 8</td>

    <td> Siento que mi trabajo me está desgastando. Me siento quemado por mi trabajo </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 9</td>

    <td> Creo que con mi trabajo estoy influyendo positivamente en la vida de mis alumnos/as. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 10</td>

    <td> Me he vuelto más insensible con la gente desde que ejerzo la profesión docente. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 11</td>

    <td> Pienso que este trabajo me está endureciendo emocionalmente. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 12</td>

    <td> Me siento con mucha energía en mi trabajo. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 13</td>

    <td> Me siento frustrado/a en mi trabajo. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 14</td>

    <td> Creo que trabajo demasiado. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 15</td>

    <td> No me preocupa realmente lo que les ocurra a algunos de mis alumnos/as. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 16</td>

    <td> Trabajar directamente con alumnos/as me produce estrés </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 17</td>

    <td> Siento que puedo crear con facilidad un clima agradable con mis alumnos/as. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 18</td>

    <td> Me siento motivado después de trabajar en contacto con alumnos/as </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 19</td>

    <td> Creo que consigo muchas cosas valiosas en este trabajo </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 20</td>

    <td> Me siento acabado en mi trabajo, al límite de mis posibilidades </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 21</td>

    <td> En mi trabajo trato los problemas emocionalmente con mucha calma </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
  
  <tr>

    <td> 22</td>

    <td> Creo que los alumnos/as me culpan de algunos de sus problemas. </td>

    <td> <select class="custom-select">
            <option selected>Select value</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
    </td>

  </tr>
</table>
{% bootstrap_javascript jquery='full' %}
<tr>
        <td>
                {% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
        </td>
    </tr>

</body>
</html>